body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container {
  text-align: center;
  padding: 30px;
  color: white;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 8px;
  border: none;
}

button {
  margin: 8px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e68900;
}

.nav button {
  margin: 5px;
}

.card {
  background: white;
  color: black;
  margin: 15px auto;
  padding: 15px;
  border-radius: 12px;
  width: 250px;
}

a {
  display: block;
  margin: 5px;
  color: blue;
}

.error {
  color: yellow;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
